@charset "utf-8";

html, body {
  height: 100%;
  width: 100%;
}

body, td, th, p {
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

ul, li {
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
  transition: color .2s;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  display: flex;
}

@media (min-width: 992px) {
  #maincontent {
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  #maincontent {
    flex-direction: column;
  }
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/**
 * Navigation
 */
nav {
  width: 100%;
  background-color: #252831;
  text-align: center;
  padding: 20px 0;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 15px 40px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

#breadcrumb li {
  display: inline;
}

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/**
 * Map
 */
#map-container {
  flex: 1;
}

@media (max-width: 991.98px) {
  #map-container {
    flex-grow: 0;
    order: 1;
    padding-bottom: 56.25%;
    position: relative;
  }
}

#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}

@media (max-width: 991.98px) {
  #map {
    position: absolute !important;
    overflow: hidden;
  }
}

/**
 * Restaurant Filtering
 */
.filter-options {
  background-color: #3397DB;
  align-items: center;
  padding: 15px;
}

.filter-options h2 {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px;
}

.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/**
 * Restaurant Listing
 */
#list-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media (min-width: 992px) {
  #list-container {
    width: 474px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 991.98px) {
  #list-container {
    order: 2;
  }
}

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px;
  text-align: center;
  overflow: auto;
}

@media (min-width: 992px) {
  #restaurants-list {
    flex: 1;
  }
}

#restaurants-list li {
  border-bottom: 1px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px;
  text-align: left;
}

#restaurants-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
}

#restaurants-list li a:hover {
  background-color: #3397DB;
}

/**
 * Restaurant Details
 */
#left-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media (min-width: 992px) {
  #left-container {
    width: 50%;
    min-width: 650px;
  }
}

@media (max-width: 991.98px) {
  #left-container {
    order: 2;
  }
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
}

@media (min-width: 992px) {
  .inside #map-container {
    width: 50%;
  }
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-wrapper {
  overflow: auto;
  height: 100%;
  padding: 15px;
}

@media (min-width: 992px) {
  #restaurant-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

#restaurant-container {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #fff;
}

@media (min-width: 576px) {
  #restaurant-container {
    display: flex;
    flex-wrap: wrap;
  }
}

#restaurant-details-wrapper {
  flex: 1;
  margin-bottom: 15px;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
}

@media (min-width: 576px) {
  #restaurant-image-wrapper {
    width: 215px;
  }
}

#restaurant-img {
  max-width: 100%;
  height: auto;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 10px 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 20px;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}